.header {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 56px;
	background: lightcoral;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	color: #FFF;
}
.header h1 {
	padding: 0 20px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	white-space: nowrap;
}
.header nav {
	display: flex;
}
.header nav a {
	display: flex;
	align-items: center;
	padding: 0 15px;
	text-decoration: none;
	color: inherit;
}
.header nav a:hover,
.header nav a:active {
	background: rgb(165, 93, 93);
}
