.details {
	padding: 74px 20px;
	min-height: 100%;
	width: 100%;
}
.details h2 {
	font-size: 20px;
	margin-bottom: 25px;
}
.bookmark {
	position: absolute;
	right: 20px;
	top: 74px;
	border: none;
	background: none;
	cursor: pointer;
}