@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Roboto', 'Trebuchet MS', 'Helvetica', sans-serif;
	font-weight: 400;
	color: #444;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}